<div class="container" style="background-color: white; height: 50vh; width: 60vw;">
  <div class="row">
    <div class="col-md-5">
      <img src="{{user.image}}" alt="Image" class="img-fluid" style="height:400px; width:500px">
    </div>
    <div class="col-md-7">
      <br>
      <h3>{{user.name}}</h3>
      <br>
      <p>{{user.email}}</p>
      <br>
      <p>{{userCommentRestaurant.length}} 已評論餐廳<p>
      <p>{{userFavoritedRestaurant.length}} 收藏餐廳</p>
      <p>{{userFollowings.length}} followings(追蹤者)</p>
      <p>{{userFollowers.length}} followers(追隨者)</p>
      <br>
      <a href="/users/{{user.id}}/edit"><button class="btn btn-primary my-sm-0 my-2">edit</button></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- 左侧卡片 -->
    <div class="col-md-6">
      <div class="card mt-4" style="width: 100%;">
        <div class="card-header text-center" style="background-color: gray">
          <h4>{{userFollowings.length}} followings(追蹤者)</h4>
        </div>
        <div class="card-body" style="background-color: white">
          {{#each userFollowings}}
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" alt="" style="max-width: 100px; margin-right: 10px;">
          </a>
          {{/each }}
        </div>
      </div>
    </div>

    <!-- 右侧卡片 -->
    <div class="col-md-6">
      <div class="card mt-4" style="width: 100%;">
        <div class="card-header text-center" style="background-color: gray">
          <h4>{{userCommentRestaurant.length}}已評論餐廳</h4>
        </div>
        <div class="card-body" style="background-color: white">
          {{#each userCommentRestaurant}}
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src="{{this.Restaurant.image}}" alt="" style="max-width: 100px; margin-right: 10px;">
          </a>
          {{/each }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- 左侧卡片 -->
    <div class="col-md-6">
      <div class="card mt-4" style="width: 100%;">
        <div class="card-header text-center" style="background-color: gray">
          <h4>{{userFollowers.length}}followers(追隨者)</h4>
        </div>
        <div class="card-body" style="background-color: white">
          {{#each userFollowers}}
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" alt="" style="max-width: 100px; margin-right: 10px;">
          </a>
          {{/each }}
        </div>
      </div>
    </div>

    <!-- 右侧卡片 -->
    <div class="col-md-6">
      <div class="card mt-4" style="width: 100%;">
        <div class="card-header text-center" style="background-color: gray">
          <h4>{{userFavoritedRestaurant.length}}收藏餐廳</h4>
        </div>
        <div class="card-body" style="background-color: white">
          {{#each userFavoritedRestaurant}}
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" alt="" style="max-width: 100px; margin-right: 10px;">
          </a>
          {{/each }}
        </div>
      </div>
    </div>
  </div>
</div>